@import '../variables.css';

.outer {
  font-family: 'Lucida Sans', 'Geneva', 'Verdana', 'sans-serif';
  font-size: 12px;
}

.message {
  padding: 30px;
}

/*
.table {
  color: black;
  border: 1px solid black;
  width: 100%;
}
*/

tbody {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
}

thead {
  display: block;
}

th {
  color: #000;
  border: 1px solid black;
}

