@import '../../components/variables.css';

.center {
  text-align: center;
}

.kings {
  display: flex;
  justify-content: center;
}

.selected {
  border: 3px solid yellow;
}

.unselected {
  border: 3px solid gray;
}
