.nowrap {
  white-space: nowrap;
}

.borderbox {
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px black;
}

.fatbutton {
  width: 25px;
  margin: 1px;
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  border-radius: 4px;
}

.disabledbutton {
  cursor: not-allowed;
  opacity: .65;
}
