@import '../variables.css';

.numbercolumn {
  border: 1px solid black;
}

.movecolumn {
  border: 1px solid black;
  width: 50%;
}

.outer {
  border: 1px solid black;
  /*
  position: absolute;
  top: 50%;
  left: 0%;
  */
}

table {
  color: black;
  border: 1px solid black;
  table-layout: fixed;
  background: #BBBBBB;
}

tbody {
  height:400px; overflow-y:scroll; display:block;
}

thead {
  display:block;
}

th {
  color: #000000;
  border: 1px solid black;
}

td {
  font-size: small;
  border: 1px solid black;
}
