@import '../variables.css';

.numbercolumn {
  border: 1px solid black;
  text-align: center;
}

.movecolumn {
  border: 1px solid black;
  width: 50%;
}

.outer {
  box-shadow: 5px 5px 5px black;
  overflow-y: auto;
  overflow-x: hidden;
}

.no_bottom_margin {
  margin-bottom: 0;
}

table {
  color: black;
  border: 1px solid black;
  table-layout: fixed;
  background: #bbb;
  margin-bottom: 0;
}

tbody {
  height: 550px;
  overflow-y: visible;
  display: block;
}

thead {
  display: block;
}

th {
  color: #000;
  border: 1px solid black;
}

td {
  font-size: small;
  border: 1px solid black;
}
