@import '../variables.css';

.outer {
  font-size: small;
  border: 1px solid black;
}

.row {
  width: 95%;
  border: 1px solid black;
}

.row:hover {
  border: 1px solid red;
  background-color: #b9bbff;
}

.cell {
  width: 95%;
}

.san {
  clear: both;
  float: left;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 5px;
}

.gameCount {
  float:right;
  margin: 5px;
}

.badge {
  background-color: blue;
}

.bar {
  clear: both;
  cursor: pointer;
  display: block;
  border: 1px solid black;
  overflow: hidden;
  margin: 10px;
}

.white {
  color: #000000;
  float:left;
  clear: both;
  background-color: #ffffff;
}

.gray {
  color: #FFFFFF;
  float:left;
  background-color: #A0A0A0;
}

.black {
  color: #CCCCCC;
  float:left;
  background-color: #555555;
}
