@import '../variables.css';

.outer {
  font-size: small;
  border: 1px solid black;
}

.row {
  background-color: #ffffff;
}

.black {
  background-color: #555555;
}

.gray {
  background-color: #A0A0A0;
}

