@import '../variables.css';

.row {
  border: 1px solid black;
}

.row:hover {
  border: 1px solid red;
  background-color: #b9bbff;
}

/*
.outer {
  font-size: small;
  border: 1px solid black;
}

.cell {
  width: 95%;
}
*/

.san {
  clear: both;
  float: left;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 5px;
}

.gameCount {
  float: right;
  margin: 5px;
}

.badge {
  background-color: blue;
}

.bar {
  clear: both;
  cursor: pointer;
  display: block;
  border: 1px solid black;
  overflow: hidden;
  margin: 10px;
  background-color: #555;
}

.white {
  color: #000;
  float: left;
  clear: both;
  background-color: #fff;
}

.gray {
  color: #fff;
  float: left;
  background-color: #a0a0a0;
}

.black {
  color: #ccc;
  float: left;
  background-color: #555;
}
