@import '../variables.css';

.outer {
  font-size: small;
  border: 1px solid black;
}

.row {
  width: 95%;
}

.cell {
  width: 95%;
}

.san {
  clear: both;
  float: left;
  cursor: pointer;
}

.gameCount {
  float:right;
}

.bar {
  cursor: pointer;
  display: block;
  border: 1px solid black;
  overflow: hidden;
  margin-bottom: 10px;
}

.white {
  color: #000000;
  float:left;
  clear: both;
  background-color: #ffffff;
}

.gray {
  color: #FFFFFF;
  float:left;
  background-color: #A0A0A0;
}

.black {
  color: #CCCCCC;
  float:left;
  background-color: #555555;
}
