@import '../variables.css';

.cell {
  width: 50%;
  border: 1px solid black;
}

td {
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
}

.current {
  font-weight: bold;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.faintwhite {
  color: #ddd;
}

.faintblack {
  color: #888;
}

